@import url(all-webpage.css);
@import url(webconnect.css);

/* basic define */

.imgPart img{
    height: 50px;
}

.listBar li{
    font-size: 20px;
    line-height: 5rem;
    padding: 0 6px;
}

ul{
    width: 96rem;
    margin: auto;
}

/* center */

.center{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3.1rem;
}

.animateIntroduce{
    margin: auto;
    width: 100%;
    height: 25rem;
    background-color: var(--white);
}

.animateBar{
    width: 100%;
    height: 5rem;
    background-color: var(--white);
    margin-bottom: 14px;
}

.mainAnimate{
    position: relative;
    margin: auto;
    width: 96rem;
    height: 40rem;
    background-color: var(--white);
}

.animateSound {
    position: relative;

}

.mainIntroduce{
    display: flex;
    float: left;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imgPart{
    position: relative;
}

.listBar{
    margin-left: 2rem;

}

.list{
    float: left;
}

.list-margin{
    margin-left: 100px;
}
