/* BASIC */
/* COLOR ROOT */
:root{
    --white: #fff;
    --blue: #007bff;
    --lightDark: #252627;
    --lightWhite: #f8f9fa;
    --footer: #faf1f1;
    --body:#feffff;
    --body-2: #ecf1f1;
    --boxShadow: #c0b5b5;
    --foooterFont: #575454;
    --footerShapeShadow: #c5adad;
    --themeColor-light: #79afc5;
    --themeColor-dark: #609cb3;
    --grayText: #a19a9a;
    --headerBackground:#fdfdfd;
}

@font-face {
    font-family: HarmonyOS_Sans_SC_Black;
    src:url('../pub/fonts/HarmonyOS_Sans_SC_Black.ttf') format('truetype'), 
}

/* BODY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: var(--body-2);
}

/* FONT */
a , h1 , h2 , h3 , h4{
    /* font-family: HarmonyOS_Sans_SC_Black; */
    text-decoration: none;
    color: #252627;
    color: var(--lightDark);
}



/* FOOTER */

footer{
    width: 100%;
    margin-top: 6.25rem;
    margin-bottom: 0;
    font-size: 1rem;
    cursor: pointer;
}

.footerContainer{
    width: 100%;
}

.itemContainer , .infoContainer{
    padding: 1.875rem .9375rem;
    display: flex;
    flex-direction: column;
}

.footerItems_row{
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
    letter-spacing: .0625rem;
    margin-bottom: .5rem;
}

footer a , footer li , footer ul{
    color: var(--lightWhite);
}

/* LINKS */
.links{
    background-color: var(--themeColor-light);
}

footer .item{
    width: 6.875rem;
    padding: 0 .75rem;
    border-right: .0625rem solid var(--white);
    height: 1.25rem;
}

.itemTitle{
    font-weight: 700;
}

/* STUDIO */
.info{
    background-color: var(--themeColor-dark);
}

.infoContainer{
    padding: 1.5625rem 1.25rem;
}

.footer-item-info{
    width: 6.25rem;
    padding-left: .3125rem;
    text-align: center;
}

/* WEBLINKS */
.webLinks{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1.875rem 0 2.1875rem 0;
}

.webLinks ul{
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #79afc5;
    border-radius: 1.75rem;
    padding: .5rem 1.25rem;
}

.webLinks span{
    display: flex;
}

.webLinks li{
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background-color: #5090aa;
}

.ACfun-link , .QQ-link{
    margin-left: .3438rem;
}

.webLinks svg{
    display: flex;
    margin: auto;
    width: 2.0625rem;
    height: 2.0625rem;
    margin-top: .8125rem;
}

.webLinks p{
    margin-right: .9375rem;
    margin-bottom: .5rem;
}



@media only screen and (min-width: 900px) {



}