.headBlock h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: var(--lightWhite);
}

.headBlock h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: var(--lightWhite);
}

.headBlock h4{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: var(--lightWhite);
}

/* CENTER */

.center{
    width: 100%;
}

.blockContainer{
    display: flex;
    flex-direction: column
}

.block{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    background-color: var(--themeColor-light);
    align-items: center;
}

/* OUT BLOCK*/
.headBlock{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 700px;
    background-color: var(--themeColor-light);
    background: url(/resources/index/index_img/mainBanner.jpeg) no-repeat;
    background-position: 40% 50%;
    color: var(--lightWhite);
    padding: 4% 0;
}

.blockUs{
    background: linear-gradient(to left, transparent, 30%, var(--themeColor-dark)),
    url(index_img/aboutUs_bg.webp) no-repeat;
    background-position: 50% 55%;
}

.blockPjModsIntro{
    background: url(index_img/mcModIntro.webp) no-repeat;
    background-position: 100% 60%;
    justify-content: end;
}

.blockMcServer{
    background: linear-gradient(to left, transparent, 30%, var(--themeColor-dark)),
    url(index_img/mcServer_ER2.webp) no-repeat;
    background-position: 40% 65%;
}

.shadowMask{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-items: center;
    background: linear-gradient(to right, transparent, 28%, var(--themeColor-dark));
    padding: 0 5%;
}

/* IN BLOCK */

.innerBlock{
    display: flex;
    flex-direction: column;
    margin: 0 5% 0 5%;
}

.innerBlock_inMask{
    display: flex;
    flex-direction: column;
}

.leftPart{
    color: var(--lightWhite);
    display: flex;
    flex-direction: column;
}

.rightpart{
    color: var(--lightWhite);
    display: flex;
    flex-direction: column;
}

.leftPart h1 , .rightpart h1{
    color: var(--lightWhite);
}

.leftPart p , .rightpart p{
    max-width: 600px;
    min-width: 300px;
    font-size: 20px;
    margin-top: .625rem;
}


/* BUTTON */
.buttonContainer{
    margin-top: 40px;
}

.button{
    padding: .625rem;
    background-color: var(--themeColor-light);
    border-radius: .3125rem;
    margin-top: 1.25rem;
    border: solid 2px var(--lightWhite);
    color: var(--lightWhite);
    box-shadow: 3px 2px var(--lightWhite);
    font-weight: 550;
    font-size: 20px;
    transition: 0.5s ease;
}

.button:hover{
    background-color: var(--themeColor-dark);
    box-shadow: 5px 4px var(--lightWhite);
}

.mobileText{
    display: none;
}

footer {
    margin-top: 0;
}

@media screen and (max-width: 1100px) {
    .blockPjModsIntro{
        background-position: 80% 60%;
    }
    
    .blockMcServer{
        background-position: 60% 65%;
    }
}

@media screen and (max-width: 800px) {
    .headBlock{
        height: 100vh;
    }
    
    .blockPjModsIntro{
        background: linear-gradient(to right, transparent, 70%, var(--themeColor-dark)),
        url(index_img/mcModIntro.webp) no-repeat;
        background-position: 50% 60%;
    }

    .blockMcServer{
        background: linear-gradient(to left, transparent, 60%, var(--themeColor-dark)),
        url(index_img/mcServer_ER2.webp) no-repeat;
        background-position: 60% 65%;
    }
    
    .blockUs{
        background: linear-gradient(to left, transparent, 60%, var(--themeColor-dark)),
        url(index_img/aboutUs_bg.webp) no-repeat;
        background-position: 50% 55%;
    }

    .mobileText{
        display: flex;
        min-height: 300px;
        padding: 4% 0 8% 0 ;
        align-items: center;
        background-color: var(--themeColor-dark);
    }

    .block > .innerBlock , .shadowMask{
        display: none;
    }
}