.headBlock h1{
    font-size: 120px;
    color: var(--lightWhite);
}

.headBlock h2{
    font-size: 42px;
    color: var(--lightWhite);
}

.headBlock h4{
    font-size: 20px;
    color: var(--lightWhite);
}

/* CENTER */

.center{
    width: 100%;
}

.blockContainer{
    display: flex;
    flex-direction: column
}

.block{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    background-color: var(--themeColor-light);
    align-items: center;
}

/* OUT BLOCK*/
.headBlock{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background-color: var(--themeColor-light);
    background: url(/resources/index/index_img/headBanner-bg.jpeg) no-repeat;
    background-position: 40% 50%;
    color: var(--lightWhite);
}

.blockUs{
    background: linear-gradient(to left, transparent, 30%, var(--themeColor-dark)),
    url(/resources/index/index_img/aboutUs_bg.webp) no-repeat;
    background-position: 50% 55%;
}

.blockPjModsIntro{
    background: url(/resources/index/index_img/mcModIntro.webp) no-repeat;
    background-position: 100% 60%;
    justify-content: end;
}

.blockMcServer{
    background: linear-gradient(to left, transparent, 30%, var(--themeColor-dark)),
    url(/resources/index/index_img/mcServer_ER2.webp) no-repeat;
    background-position: 40% 65%;
}

.shadowMask{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-items: center;
    background: linear-gradient(to right, transparent, 28%, var(--themeColor-dark));
    padding: 0 5%;
}

/* IN BLOCK */

.innerBlock{
    display: flex;
    flex-direction: column;
    margin: 0 5% 0 5%;
}

.innerBlock_inMask{
    display: flex;
    flex-direction: column;
}

.leftPart{
    color: var(--lightWhite);
    display: flex;
    flex-direction: column;
}

.rightpart{
    color: var(--lightWhite);
    display: flex;
    flex-direction: column;
}

.leftPart h1 , .rightpart h1{
    color: var(--lightWhite);
}

.leftPart p , .rightpart p{
    max-width: 600px;
    min-width: 300px;
    font-size: 20px;
    margin-top: .625rem;
}


/* BUTTON */
.buttonContainer{
    margin-top: 40px;
}

.button{
    padding: 8px;
    text-align: center;
    font-size: 22px;
    background-color: var(--themeColor-light);
    border-radius: 8px;
    border: 3px solid var(--lightWhite);
    color: var(--lightWhite);
    font-weight: 600;
    transition: 0.2s ease;
    box-shadow: 0 0 3px var(--lightDark);
}

.button:hover{
    background-color: var(--themeColor-dark);
    border: 5px solid var(--lightWhite);
}

.mobileText{
    display: none;
}

footer {
    margin-top: 0;
}

/* HEAD */
.headIntro{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.headIntro img{
    height: 268px;
}

.headText{
    margin-left: 150px;
}

/* PROJ */
.projBlock{
    max-width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column
}

.ourProject{
    display: inherit;
    padding: 36px 10px 18px 10px;
}

.ourProject > li+li{
    margin-left: 10px;
}

.projectContainer{
    display: flex;
    height: calc(1080px / 8);
    width: calc(1920px / 8);
    flex-direction: row;
    background-color: var(--body);
    border-radius: 6px;
    overflow: hidden;
}

.projectName{
    width: inherit;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 6px;
}

.projectName h3{
    width: inherit;
    display: inherit;
    justify-content: center;
    height: 40px;
    align-items: end;
    padding-bottom: 8px;
    background: linear-gradient(to bottom, transparent, 5%, var(--themeColor-dark));
    color: var(--lightWhite);
    text-shadow: 0 0 3px var(--lightDark);
}

.projBtn{
    width: 300px;
    text-align: center;
    margin: 6px 0 40px 0;
    font-size: 22px;
    padding: 8px;
    background-color: var(--themeColor-light);
    border-radius: 8px;
    border: 3px solid var(--themeColor-light);
    color: var(--lightWhite);
    font-weight: 600;
    transition: 0.2s ease;
    box-shadow: 0 0 3px var(--lightDark);
}
    

.projBtn:hover{
    background-color: var(--themeColor-dark);
    border: 3px solid var(--lightWhite);
}

.mobile{
    display: none;
}


@media screen and (max-width: 1100px) {
    .blockPjModsIntro{
        background-position: 80% 60%;
    }
    
    .blockMcServer{
        background-position: 60% 65%;
    }

    .projectContainer{
        height: calc(1080px / 9);
        width: calc(1920px / 9);
    }

    .projectName h3{
        font-size: 18px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1050px) {
    .headBlock{
        height: calc(100vh - 60px);
        padding: 0;
    }

    .headIntro{
        flex-direction: column;
    }

    .headText {
        margin: 16% 0 0 0;
        text-align: center;
    }
}

@media screen and (max-width: 934px) {
    .mobile{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .pc{
        display: none;
    }

    .ourProject{
        flex-direction: column;
    }

    .bundle{
        display: flex;
        flex-direction: row;
    }

    .ourProject div+div{
        margin-top: 15px;
    }

    .bundle :nth-child(2){
        margin-left: 15px;
    }

    .projBtn{
        width: 250px;
        margin: 8px 0 36px 0;
        font-size: 20px;
    }
    
}

@media screen and (max-width: 650px) {
    .headBlock h1{
        font-size: 80px;
    }
    
    .headBlock h2{
        font-size: 28px;
    }
}

@media screen and (max-width: 486px) {
    .projectContainer{
        height: calc(1080px / 10);
        width: calc(1920px / 10);
    }
}

@media screen and (max-width: 444px) {
    .headBlock h1{
        font-size: 60px;
    }
    
    .headBlock h2{
        font-size: 22px;
    }

    .headIntro img{
        height: 240px;
    }

    /* PROJ */
    
    .ourProject div+div{
        margin-top: 10px;
    }

    .bundle :nth-child(2){
        margin-left: 10px;
    }
    
    .projectContainer{
        height: calc(1080px / 11.5);
        width: calc(1920px / 11.5);
    }

    .projectName h3{
        height: 34px;
        font-size: 15px;
        padding-bottom: 8px;
    }
}

@media screen and (max-width: 800px) {
    
    
    .blockPjModsIntro{
        background: linear-gradient(to right, transparent, 70%, var(--themeColor-dark)),
        url(/resources/index/index_img/mcModIntro.webp) no-repeat;
        background-position: 50% 60%;
    }

    .blockMcServer{
        background: linear-gradient(to left, transparent, 60%, var(--themeColor-dark)),
        url(/resources/index/index_img/mcServer_ER2.webp) no-repeat;
        background-position: 60% 65%;
    }
    
    .blockUs{
        background: linear-gradient(to left, transparent, 60%, var(--themeColor-dark)),
        url(/resources/index/index_img/aboutUs_bg.webp) no-repeat;
        background-position: 50% 55%;
    }

    .mobileText{
        display: flex;
        min-height: 300px;
        padding: 4% 0 8% 0 ;
        align-items: center;
        background-color: var(--themeColor-dark);
    }

    .block > .innerBlock , .shadowMask{
        display: none;
    }

    .leftPart h1, .rightpart h1 {
        color: var(--lightWhite);
        font-size: 26px;
    }

    .leftPart p, .rightpart p {
        font-size: 18px;
    }

    .button{
        padding: 8px;
        font-size: 20px;
    }
}