/* HEADER */
.PCheader{
    display: flex;
    width: 100%;
    background-color: var(--headerBackground);
    height: 3.75rem;
    position: relative;
    box-shadow: #817575 0rem -1px 0.4rem 0.1rem;
    align-items: center;
}

.PCheader div{
    display: flex;
}

.headerContainer{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5% 0 5%;
    flex-wrap: wrap;
}

header img{
    height: 40px;
}

/* HEADER TABLE */
.headerSelection{
    align-items: center;
}

.headerSelection ul{
    display: flex;
    flex-direction: row;
}

.headerSelection li{
    margin-left: 2.5rem;
    font-size: 16px;
}

@media screen and (min-width: 800px) {
    .mobileHeader{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .PCheader{
        display: none;
    }

    .mobileHeader{
        display: block;
        width: 100%;
        background-color: var(--headerBackground);
        height: 3.75rem;
        position: relative;
        box-shadow: #817575 0rem -1px 0.4rem 0.1rem;
    }

    #toggler:checked + label .box{
        background-color: aliceblue;
    }
    
    #toggler{
        display: none;
    }
    
    .hamburgerContainer{
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
        top: 25px;
        left: 20px;
    }
    
    .hamburgerContainer span {
        display: block;
        height: 1px;
        background-color: #000;
        position: relative;
        transition: transform .3s ease-in-out,top .3s ease-in-out .3s;
        top: 0;
    }
    
    .hamburgerContainer span:nth-child(2) {
        margin-top: 7px;
    }
    
    #toggler:checked + label .hamburgerContainer span:nth-child(1){
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out,transform .3s ease-in-out .3s;
    }
    
    #toggler:checked + label .hamburgerContainer span:nth-child(2){
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out,transform .3s ease-in-out .3s;
    }
    
    .nav-items {
        background-color: rgba(0, 0, 0,.50);
        width:100%;
        height: 100vh;
        position: absolute;
        top: 60px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin:50% 0;
        opacity: 0;
    }

    .nav-items a{
        color: var(--lightWhite);
        display: flex;
        justify-content: center;
    }

    .nav-items ul{
        display: block;
    }

    .nav-items li{
        padding: 16px;
        background-color: var(--themeColor-light);
        border-bottom: solid 2px var(--themeColor-dark);
        transition: 0.5s ease;
        font-size: 1.125rem;
        font-weight: 550;
    }

    .nav-items li:hover{
        background-color: var(--themeColor-dark-2);
    }

    #toggler:checked ~ .nav-items{
        transform: scaleY(1);
        opacity: 1;
    }
}


